@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

/*Import template*/

body {
    font-family: "Lato", sans-serif
}

.mySlides {
    display: none
}

#navDemo {
    margin-top: 46px
}


/*Redéfinition*/

.w3-black {
    background-color: #3A2020 !important;
}

.color-black {
    color: #3A2020;
}

.hover {
    padding: 5px;
}

.hover:hover {
    background-color: #3A2020;
    color: white;
}

#deconnexionButton,
#menuProfil {
    display: none;
}

div#listActu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

/*#listActu > div{
	height: 500px;
}

#listActu > div >a{
	height: 100%;
}*/

#actualiteLog {
    display: none;
}

#forLogin {
    padding: 10px;
}

#forInscription {
    padding: 10px;
}

#idForRecherche {
    width: 250px;
}

#idForRecherche input {
    display: inline-block !important;
    width: 150px;
}

#idForRecherche a {
    display: inline-block !important;
}

#myInputRecherche {
    border-radius: 10px;
    margin-right: 10px;
    background-color: #2D1818;
    color: white;
}

#fileActu > div {
    display: flex;
}

.imageActu {
    /*width: 294px;*/
    margin-top: 5px;
    width:100%;
    border-radius: 5px;
}

.imageActuFilleActu {
    display: inline-flex;
    width: 280px;
    height: 280px;
    align-items: flex-end;
}

.infoFileActu {
    margin-left: 15px;
    display: inline-flex;
    align-items: flex-start;
    min-height: 280px;
}

.actuPageActu {
    display: inline-flex;
}

.actuPageActu .saillieOui {
    display: none;
}

a.bouttonSaillie {
    margin-left: 15%;
}

#EnvoyerMessageSaillie {
    margin-top: 10px;
    margin-left: 40%;
    margin-right: 40%;
}

section.evenement {
    display: flex;
}

section.evenement > div {
    width: 49%;
    margin-right: 5px;
    margin-left: 5px;
}

section.evenement div.commentaire {
    padding-left: 10%;
}

section.evenementPage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.evenementPage > div {
    width: 48%;
    margin-right: 5px;
    margin-left: 5px;
    flex-shrink: 0;
}

div.commentaire i {
    color:#3A2020;
    margin-right: 5px;
}

a.followButton {
    margin-left: 10%;
    font-size: 150%;
}

.flexCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
}

.pad5 {
    padding: 5px;
}

.pad10 {
    padding: 10px;
}

.pad15 {
    padding: 15px;
}

.pad20 {
    padding: 20px;
}

.pad50 {
    padding: 50px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml50 {
    margin-left: 50px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr50 {
    margin-right: 50px;
}

textarea {
    width: 100%;
}

.sub-btn {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub-btn > button {
    margin: 10px;
}

.m5 {
    margin: 5px;
}

.tlj {
    text-align: justify;
}

.wrap-reverse {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap-reverse !important;
}

.posIcon {
    position: relative;
    float: right;
    top: -55px;
    margin: 5px;
    color: #3A2020;
    padding: 5px;
}

.posIcon:hover {
    background-color: #3A2020;
    border-radius: 5px;
    color: white;
}

.posIconBis {
    position: relative;
    float: right;
    margin: 5px;
    top: -30px;
    color: #3A2020;
    padding: 5px;
}

.posIconBis:hover {
    background-color: #3A2020;
    border-radius: 5px;
    color: white;
}

.fiche {
    margin-top: 20px;
    margin-bottom: 20px;
}

.flexlist {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.VAC {
    align-items: center;
}

.ASC {
    align-self: center;
}

.w3-third{
	width:31.5% !important;
}

.myCardTriche{
	margin: 5px !important;
	text-decoration: none;
}

@media screen and (max-width: 640px) {
    .imageActu {
        width: 257px;
    }
    .infoFileActu {
        margin-left: 15px;
        display: inline-flex;
        align-items: flex-start;
        min-height: 280px;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
    .actuPageActu {
        display: inline-flex;
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}